<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProperty scope="context" name="appName" source="spring.application.name" defaultValue="oficina-api"/>

    <springProfile name="dev,test">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${CONSOLE_LOG_PATTERN}</pattern>
                <charset>UTF-8</charset>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="default">
        <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <timeZone>UTC</timeZone>
                <customFields>{"service.name":"${appName}"}</customFields>
            </encoder>
        </appender>
        <!-- O agente nao coloca trace.id/span.id no MDC sozinho: este appender le os dados na
             thread da requisicao e os grava como NewRelic:trace.id / NewRelic:span.id. -->
        <appender name="NEWRELIC_ASYNC" class="com.newrelic.logging.logback.NewRelicAsyncAppender">
            <appender-ref ref="JSON"/>
        </appender>
        <root level="INFO">
            <appender-ref ref="NEWRELIC_ASYNC"/>
        </root>
        <logger name="org.hibernate.SQL" level="WARN"/>
        <logger name="org.hibernate.orm.jdbc.bind" level="WARN"/>
    </springProfile>

</configuration>
